* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header, main {
    margin: 2.5% 5%;
}
button {
    width: 10rem;
    height: 2.5rem;
    border-radius: 0.3rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    background-color: #FF5400;
    border: none;
    outline: none;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: #fff;
}
.title {
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 1.5rem;
}
.title-description {
    text-align: center;
}

/* banner */
.banner {
    margin-top: 2rem;
    height: 40rem;
    background: linear-gradient(rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("./images/banner.png");
    border-radius: 8px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}
.heading {
    font-size: 3.5rem;
    font-weight: bolder;
    margin-bottom: 1.5%;
}
.heading-description {
    width: 50%;
    margin-bottom: 3%;
}
.search-option {
    height: 15%;
    width: 80%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}
form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
input, select {
    width: 10em;
    height: 3em;
    border: none;
    outline: none;
    border-radius: 0.3rem;
    font-weight: bold;
    text-align: center;
}

/* popular-tour */
.popular-tour {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}
.popular-tour h3 {
    text-align: justify;
}
.tour-part1 {
    width: 48%;
    height: 100%;
    padding-left: 2%;
    line-height: 2rem;
}

.tour-part1 p {
    text-align: justify;
}
.tour-part1 li {
    padding: 1.5rem;
    line-height: 2.5rem;
}
.tour-part2 {
    width: 48%;
}
.tour-part2 img {
    width: 100%;
    height: 100%;
}

/* choose-destination */
.choose-destination {
    margin-top: 2.5rem;
}
.image1 {
    grid-area: i1;
    background-image: url("./images/maldives.png");
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.image2 {
    grid-area: i2;
    background-image: url("./images/indonesia.png");
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.image3 {
    grid-area: i3;
    background-image: url("./images/srilanka.png");
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.image4 {
    grid-area: i4;
    background-image: url("./images/north_america.png");
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.image5 {
    grid-area: i5;
    background-image: url("./images/kashmir.png");
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.image6 {
    grid-area: i6;
    background-image: url("./images/bangladesh.png");
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.image7 {
    grid-area: i7;
    background-image: url("./images/bandarban.png");
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.destination-images {
    padding-top: 3rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    "i1 i1 i1 i1 i1 i1 i2 i2 i2 i2 i2 i2"
    "i3 i3 i3 i3 i4 i4 i4 i4 i4 i5 i5 i5"
    "i6 i6 i6 i6 i6 i7 i7 i7 i7 i7 i7 i7"
    ;
    gap: 1.5rem;
}
.dimage {
    display: flex;      /* for text over the bg */
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.6rem;
    font-weight: bolder;
    min-height: 20rem;
    border-radius: 8px;
}

/* why-choose-us */
.why-choose-us {
    margin-top: 2.5rem;
}
.why-choose-us > p {
    padding-bottom: 0.5rem;
}
.why-choose-us i {
    color: #FF5400;
}
.hotel-button,
.map-button, .price-button{
    font-size: 3.8rem;
}
.container {
    width: 27rem;
    display: flex;
    padding: 1rem 1.5rem;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    margin: 2rem auto;
}
.container p, h4 {
    text-align: justify;
    padding-top: 0.6rem;
}
.container h4 {
    font-size: 1.6rem;
}
.card-container {
    /* padding-top: 1rem; */
    display: flex;
    flex-wrap: wrap;
}


/* deals-discount */
.deals-discount {
    margin-top: 1rem;
}
.dealspart-1, .dealspart-2 {
    width: 100%;
    min-height: 35rem;
    margin: 3rem auto;
    background-image: url("./images/group_a.png");
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.dealspart-2 {
    margin: 0 auto;
    background-image: url("./images/group_b.png");
}
.dealspart-2 .dealcard {
    margin-right: 45%;
}
.dealcard {
    width: 50%;
    border-radius: 8px;
    border: 1px solid #FFF;
    background: rgba(255, 255, 255, 0.688);
    display: block;
    padding: 3rem;
    margin-right: 5%;
    line-height: 1.8em;
    text-align: justify;
}
.dealcard h4 {
    font-size: 1.5rem;
}
.dealcard i, h5 {
    color: #FF5400;
    font-size: 1rem;
}
.cardtop i {
    padding-right: 0.5rem;
}
.cardtop span {
    font-size: 0.5rem;
    color:black;
    font-weight: 0.5rem;
    padding-left: 0.5rem;
}

/* customer feedback */
.feedback > h3 {
    padding-bottom: 0.4rem;
}
.star-button {
    color: #FF5400;
}

/* newsletter */
.subcriptions {
    margin-top: 0.5rem;
}
.newsletter {
    margin: 1.5rem 0;
    display: flex;
    justify-content: space-between;
}
.subcriptions > h3 {
    font-weight: bolder;
    padding-bottom: 0.7rem;
}
.newspart-1 {
    width: 35%;
    padding: 2rem;
    line-height: 3rem;
    border: 1px solid #FF5400;
    border-radius: 8px;
}
.newspart-1 input {
    width: 90%;
    text-align: center;
    margin-bottom: 1rem;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}
#subscribe {
    width: 90%;
    border-radius: 8px;
}
.discount-cupon {
    color: #fff;
    text-align: center;
    font-weight: bolder;
    background-color: #FF5400;
    padding: 2em;
    border-radius: 8px;

    position: absolute;
    right: 8em;
    margin-top: 15em;
    transform: rotate(-30deg);
}

/* footer */
footer {
    margin-top: 4rem;
    width: 100%;
    background: rgba(19, 19, 24, 0.05);
    padding: 2rem 0;
}
.footer-first {
    display: flex;
    justify-content: center;
}
footer p {
    margin: 1rem 20%;
    text-align: center;
}
.social-link {
    display: flex;
    justify-content: center;
}
.social-link a {
    color: black;
    margin: 0 2%;
    padding-bottom: 1rem;
}
footer hr {
    width: 65%;
    margin: 0 auto;
}



/* media query start from here */

/* small devices */
@media screen and (max-width: 576px) {
    /* banner responsive */
    .search-option {
        height: 45%;
        width: 80%;
    }
    .heading-description {
        width: 80%;
    }
    form {
        flex-direction: column;
    }
    input, select {
        width: 12rem;
    }

    /* popular-tour responsive */
    .popular-tour {
        flex-direction: column;
    }
    .tour-part1 {
        width: 100%;
        padding-top: 1rem;
    }
    .tour-part1 li {
        padding: 0.5rem 1.5rem;
    }
    .tour-part2 {
        width: 100%;
        padding-top: 2rem;
    }

    /* choose-destination responsive */
    .destination-images {
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
        grid-template-areas:
        "i1" "i2" "i3" "i4" "i5" "i6" "i7"
        ;
    }

    /* why-choose-us responsive */
    .container {
        width: 95%;
    }

    /* deals and discount */
    .dealcard {
        width: 90%;
    }
    .dealspart-2 .dealcard {
        margin-right: 5%;
    }
    .dealcard button {
        width: 5rem;
        font-size: 0.6rem;
    }
    .dealcard p {
        text-align: justify;
    }
    .dealcard h4 {
        font-size: 1.3rem;
    }
    .dealcard i, h5 {
        color: #FF5400;
        font-size: 1rem;
    }
    .cardtop i {
        display: block;
        padding-bottom: 0.5rem;
    }
    .cardtop span {
        font-size: 0.5rem;
        color:black;
        font-weight: 0.5rem;
        padding-left: 0.5rem;
    }
    
    /* Newsletter responsive */
    .newsletter {
        flex-direction: column;
    }
    .newspart-1 {
        width: 100%;
        margin-bottom: 3rem;
    }
    .newsletter img {
        width: 100%;
    }
    .discount-cupon {
        margin-top: 33em;
        padding: 0.2em;
        right: 4em;
    }
}

/* medium and large */
@media screen and (min-width:576px) and (max-width:992px){
    /* banner responsive */
    .search-option {
        height: 45%;
        width: 80%;
    }
    .heading-description {
        width: 80%;
        /* margin-bottom: 3%; */
    }
    form {
        flex-direction: column;
    }
    input, select {
        width: 20rem;
    }
    
    /* popular-tour responsive */
    .popular-tour {
        flex-direction: column;
    }
    .tour-part1 {
        width: 100%;
        padding-top: 0.5rem;
    }
    .tour-part1 li {
        padding: 0.5rem 1.5rem;
    }
    .tour-part2 {
        width: 100%;
        padding-top: 2.5rem;
    }

    /* choose-estination responsive */
    .destination-images {
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
        grid-template-areas:
        "i1" "i2" "i3" "i4" "i5" "i6" "i7"
        ;
    }

    /* why-choose-us responsive */
    .container {
        width: 95%;
    }

    /* deals and discount */
    .cardtop i {
        display: block;
        padding-bottom: 0.5rem;
    }
    .cardtop span {
        font-size: 0.5rem;
        color:black;
        font-weight: 0.5rem;
        padding-left: 0.5rem;
    }

    /* Newsletter responsive */
    .newsletter {
        flex-direction: column;
    }
    .newspart-1 {
        width: 100%;
        margin-bottom: 3rem;
    }
    .newsletter img {
        width: 100%;
    }
    .discount-cupon {
        margin-top: 35em;
    }
}

/* extra large devices */
@media screen and (min-width: 1400px) {
    .container {
        width: 40rem;
    }
}