body {
    /*background-image: url("diu\ field.jpg");*/
    background-color: white;
    background-repeat: no-repeat;
    font-family: sans-serif;
}
.education {
    /*background-image: url("diu\ field.jpg");*/
    background-repeat: no-repeat;
    margin: auto;
}
.degree, th, td {
    border: 3px solid black;
    border-collapse: collapse;
    text-align: center;
}
.degree {
    width: 100%;
}
.audio {
    margin-left: 500px;
}
.icon {
    text-decoration: none;
    background-color: gray;
    border-radius: 5px;
}
.icon:hover {
    background-color:greenyellow;
}
.icon:visited {
    color: black;
}
.icon:active {
    color: red;
}
.flag {
    width: 95px;
    height: 35px;
    background-color: green;
    position: relative;
}
.flag2 {
    width: 20px; height: 20px;
    border-radius: 50%;
    background-color: red;
    top: 0; bottom: 0; left: 0; right: 0;
    position: absolute; margin: auto;
}
ol {
    list-style-type: square;
}